/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color-of-picture: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --color-of-title: rgba(219, 0, 255, 1);
  --color-of-text: rgba(241, 178, 206, 1);
  --color-of-text-title: rgba(0, 0, 40, 1);
  --color-of-button: rgba(255, 0, 112, 1);
  --background-of-page: url("../images/cover-image-dark.png");
  --header_element: visibility;
  --text-shadow: rgba(219, 0, 255, 1);
  --color-button: rgba(255, 0, 112, 1);
  --background-text-color: rgba(255, 0, 112, 1);
  --color-of-header: rgba(255, 0, 112, 1);
}

@media (prefers-color-scheme: dark) {
  .page {
    --accent-color-of-picture: rgba(255, 0, 112, 1);
    --accent-color: rgba(0, 0, 40, 1);
    --color-of-title: rgba(219, 0, 255, 1);
    --color-of-text: rgba(241, 178, 206, 1);
    --color-of-text-title: rgba(0, 0, 40, 1);
    --color-of-button: rgba(255, 0, 112, 1);
    --background-of-page: url("../images/cover-image-dark.png");
    --header_element: visibility;
    --text-shadow: rgba(219, 0, 255, 1);
    --background-text-color: rgba(255, 0, 112, 1);
    --color-of-header: rgba(255, 0, 112, 1);
  }
}
