/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: rgba(255, 141, 203, 1);
  --color-of-title:  rgba(255, 194, 230, 1);
  --color-of-text:  rgba(53, 52, 48, 1);
  --color-of-text-title: rgba(53, 52, 48, 1);
  --background-of-page: url('../images/cover-image-light.png');
  --color-of-button: rgba(53, 52, 48, 1);
}


:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --color-of-title:  rgba(255, 194, 230, 1);
  --color-of-text:  rgba(53, 52, 48, 1);
  --color-of-text-title: rgba(53, 52, 48, 1);
  --background-of-page: url('../images/cover-image-light.png');
  --color-of-button: rgba(53, 52, 48, 1);
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --color-of-title:  rgba(255, 194, 230, 1);
    --color-of-text:  rgba(53, 52, 48, 1);
    --color-of-text-title: rgba(53, 52, 48, 1);
    --background-of-page: url('../images/cover-image-light.png');
  }


 
}